<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      lang="ru">
<th:block layout:fragment="content">
<div style="font-size:150%;padding-bottom: 7%;">
    <a th:href="@{/factory}" type="button" class="btn btn-danger">Посмотреть предприятия</a>
</div>
    <form th:action="@{/factory/upload}" method="post">
    <div>
        <label>
            <input type="text" name="factoryName" placeholder="Название предприятия">
        </label>
        <button class="btn btn-primary" type="submit">Добавить предприятие</button>
    </div>
    </form>
</th:block>
</html>